<script type="text/javascript">

    $(document).ready(function () {
        var pessoa = '{{pessoa.id}}';

        $('#combo_pessoa_dependente').select2({
            placeholder: "PESQUISAR PESSOA",
            width: '100%',
            language: {
                noResults: function () {
                    return 'Não foram encontradas Pessoas';
                },
                searching: function () {
                    return 'Buscando...';
                },
                inputTooShort: function () {
                    return "Digite a Pessoa...";
                }
            },
            minimumInputLength: 1,
            ajax: {
                url: '/pessoas/lookup',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        term: params.term,
                        id_pessoa: pessoa,
                    };
                },
                processResults: function (response) {
                    return {
                        results: response.map(function (item) {
                            return {
                                id: item.cod,
                                text: item.label,
                            };
                        }),
                    };
                },
            },
        }),
        
        $('#combo_pessoa_dependente').on('select2:select', function (e) {
            $('#id_cod_pessoa_dependente').val(e.params.data.id);
        });
    });
</script>