<ul class="pagination justify-content-center">
    
    <li class="page-item">
        {% if page_obj.has_previous %}
        <a class="page-link fa fa-backward-step" href="?page=1"></a>
        {% else %}
        <span class="page-link-disabled fa fa-backward-step" href="#" disabled></span>
        {% endif %}
    </li>
    <li class="page-item">
        {% if page_obj.has_previous %}
        <a class="page-link fa fa-caret-left" href="?page={{ page_obj.previous_page_number }}"></a>
        {% else %}
        <span class="page-link-disabled fa fa-caret-left"></span>
        {% endif %}
    </li>

    <li class="page-item">
        <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    </li>

    
    <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link fa fa-caret-right" href="?page={{ page_obj.next_page_number }}"></a>
        {% else %}
        <span class="page-link-disabled fa fa-caret-right" "></span>
        {% endif %}
    </li>
    <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link fa fa-forward-step" href="?page={{ page_obj.paginator.num_pages }}"></a>
        {% else %}
        <span class="page-link-disabled fa fa-forward-step"></span>
        {% endif %}
    </li>
    
</ul>